@import url('https://fonts.googleapis.com/css2? family=Montserrat:wght@100&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: auto; */
    overflow: unset;
}

body{
    font-family: 'montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw; 
    height: 100vh;
    background-color: #191c32;
    color: rgb(255, 255, 255);
    /* padding: 40px; */
}

/* 
@media screen and (max-width: 1700px) {
    .wrapper{
        background-position: 50%;
    }
}





@media screen and (max-width: 1200px){
    wrapper{
        padding: 40px;
    }
    
    .wrapper{
        background-position: -100px;
    }

} */


.menu a {
   color: #fff;
   text-decoration: none;
   padding: 10px 20px;
}

.menu li {
    list-style: none;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.brand span {
    color: cyan ;
}

.brand {
    margin-top: -7px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}


.menu .active{
    color: aqua;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in 0.4s;
}


h1 {
    font-size: 3em;
}

span{
    color: aqua;
}

.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 350px;
    border: 7px solid aqua;
    border-radius: 10px;
    height: 520px;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img { 
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}
 
.about p {
    margin-bottom: 1em;
}

.portfolio{
    width: 100vw;
    color: #fff;
    background-color: #191c32;
}

.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
    
}
.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    color: #fff;
    background-color: #101e4b;
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-image: url(../img/2-original.png);
    background-size: cover;
}

.card__title {
    padding: 20px;

}

.card__project-links {
    display: flex;
    justify-content: space-evenly;
}

.card__project-links a {
    color: #fff;
    text-decoration: none;
}

.card__project-links i {
    font-size: 1.5em;
}

.card .project-details {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.card .project-details{
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.proyect-details-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.contact-headings h2{
    font-size: 3em;
}

.container-contact{
    padding: 3em;
    margin: 0 auto;
}

.container-contact img{
    width: 750px;
    height: 700px;
    bottom: 0px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.container-contact{
    padding: 3em;
    margin: 0 auto;
    display: flex;
  }

  .contact-section{
    background-color:  #191c32;
    color: #fff;
    width: 100vw;
  } 

  .form textarea {
      height: 150px;
      background: none;
      color: #fff;
      padding: 1.5em;
      border:1px solid #fff;
  }

  .btn-submit{
      padding: 10px 20px;
      margin: 1em;
      border: none;
      text-transform: uppercase;
      background-color: aqua;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
  }

  .btn-submit:hover{
      background-color: #fff;
      box-shadow: none; 
  }


   /* footer pie de pagina  */

  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 150px;
      background-color: aqua;
}


  .footer-content h2{
    font-size: 3em;
    color: black;
  }

  .footer-content h5,
  .sotial-network i{
      font-size: 1.5em;
      color: black;
  }

  .sotial-network{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em; 
    color: black;   
  }

  


 